{% extends 'base.html ' %}

{% block title %}
profile detail
{%  endblock title %}

{% block content %}
<!-- 
<br>
{{follow}} -->
<div class="ui basic modal" style="top:200px; height:400px">
  <div class="ui icon header">
    <i class="user plus icon"></i>
    Are you sure you want to follow {{object}}
  </div>
  <div class="content">
    <p>by clicking yes you will see all the posts published by {{object}} </p>
  </div>
  <div class="actions">
    <form action="{% url 'profiles:follow-unfollow-view' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="profile_pk"  value= {{ object.pk }}>

   
    <button type="submit" class="ui green ok maassive button">
      <i class="checkmark icon"></i>
      Yes
    </button>
</form>
  </div>
</div>
<div class="ui grid">
    
    <div class="row">

        <div class="twelve wide column">
            <br>
            <br>
            
           Profile:
            {{object}}
            <hr>
            <br>
            {% if follow %}
                <form action="{% url 'profiles:follow-unfollow-view' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="profile_pk" value= {{ object.pk }} >
                    <button type="submit" class="ui negative button ">unfollow</button>

                </form>

            {% else %}
                <button id="follow-btn" class="ui positive button">follow</button>

            {% endif%}
        </div> 
        
        <hr>
        

        <div class="twelve wide column">
            <br>
            <br>
            Posts:
            <hr>
            {% for post in object.profiles_posts %}
            <br>
        <br>
            <div class ="ui segment">
                
                {{post.body}}

            </div>  
            {% endfor %}     
         </div>


    </div>

</div>   
    

           
{% endblock content %}


{% block scripts %}
<script>
    $(document).ready(function(){
        $('#follow-btn').click(function(){
            $('.ui.basic.modal')
  .modal('show')


        })
    ;    

    })
</script>

{% endblock scripts %}

